<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>미니게임천국</title>
  <!-- 부트스트랩 CSS 파일 추가 -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
  <div class="text-center mb-5">
    <h1>미니게임천국</h1>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-3">
        <div class="card mb-4">
          <img src="/img/snakeThumnail.png" class="card-img-top" alt="스네이크게임 썸네일">
          <div class="card-body">
            <h5 class="card-title">뱀게임</h5>
            <p class="card-text">곳곳에 생겨나는 먹이를 방향키 또는 화면의 버튼으로 먹어보세요! 먹을수록 길어지고 빨라집니다!</p>
            <a href="/snake" class="btn btn-primary">시작하기</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card mb-4">
          <img src="/img/ballDodgeThumnail.png" class="card-img-top" alt="공피하기 썸네일">
          <div class="card-body">
            <h5 class="card-title">공피하기</h5>
            <p class="card-text">위에서 떨어지는 공을 방향키 또는 화면의 버튼으로 피해보세요! 점점 빨리 떨어집니다!</p>
            <a href="/ballDodge" class="btn btn-primary">시작하기</a>
          </div>
        </div>
      </div>
<!--       <div class="col-md-3">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">게임 3</h5>
            <p class="card-text">게임 3 소개</p>
            <a href="#" class="btn btn-primary">시작하기</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">게임 4</h5>
            <p class="card-text">게임 4 소개</p>
            <a href="#" class="btn btn-primary">시작하기</a>
          </div>
        </div>
      </div> -->
    </div>
    <div class="row justify-content-center">
      <!-- 게임 카드 추가 -->
<!--       <div class="col-md-3">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">게임 5</h5>
            <p class="card-text">게임 5 소개</p>
            <a href="#" class="btn btn-primary">시작하기</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">게임 6</h5>
            <p class="card-text">게임 6 소개</p>
            <a href="#" class="btn btn-primary">시작하기</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">게임 7</h5>
            <p class="card-text">게임 7 소개</p>
            <a href="#" class="btn btn-primary">시작하기</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">게임 8</h5>
            <p class="card-text">게임 8 소개</p>
            <a href="#" class="btn btn-primary">시작하기</a>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</body>
</html>
